In [1]:
# ## Variables

# 1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

entero=25
print(entero)

25

# 2) Imprimir el tipo de dato de la constante 8.5

In [2]:
print(type(8.5))

<class 'float'>

# 3) Imprimir el tipo de dato de la variable creada en el punto 1

In [3]:
print(type(entero))

<class 'int'>

# 4) Crear una variable que contenga tu nombre

In [4]:
nombre='Juan David Gonzalez'

In [6]:
# 5) Crear una variable que contenga un número complejo
complejo1=5+1j

In [7]:
# 6) Mostrar el tipo de dato de la variable crada en el punto 5
print(type(complejo1))

<class 'complex'>

In [13]:
# 7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales
import math as mt
pi2= round(mt.pi,4)
print(pi2)

3.1416

In [14]:
# 8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

verdadero = 'True'
verdadero2 = True

In [16]:
# 9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

print(type(verdadero))
print(type(verdadero2))

<class 'str'>
<class 'bool'>

In [ ]:
# 10) Asignar a una variable, la suma de un número entero y otro decimal
suma=5+3.5

In [1]:
# 11) Realizar una operación de suma de números complejos
complejo1 = 5+4j 
complejo2 = 6+9j

print(complejo1*complejo2)

(-6+69j)

In [2]:
# 12) Realizar una operación de suma de un número real y otro complejo
complejo1 = 6+4j
real1 = 55
print(real1*complejo1)

(330+220j)

In [3]:
# 13) Realizar una operación de multiplicación
print(5*4)

20

In [4]:
# 14) Mostrar el resultado de elevar 2 a la octava potencia

print(2**8)

256

In [10]:
# 15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

real1 = 27
real2 = 4
print(real1/real2)

6.75

In [17]:
# 16) De la división anterior solamente mostrar la parte entera
y = real1//real2
print(y)

6

In [16]:
# 17) De la división de 27 entre 4 mostrar solamente el resto

x=real1%real2
print(x)

3

In [19]:
# 18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

result18=real2*y+x
print(result18)

27

In [21]:
# 19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas
z = 'prep'
w = 'course'

print(z+w)

prepcourse

In [26]:
# 20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

var1=2
var2='2'
print(type(var1))
print(type(var2))

##la var1 es de tipo integer y la var2 es tipo string, por lo tanto no es lo mismo.

<class 'int'>
<class 'str'>

In [33]:
# 21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

var2 = int(var2)
var1 == var2

True

In [36]:
# 22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

#porque el separador de decimales que se utiliza en python es el punto '.'

In [40]:
# 23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

b=3
b-=1
print(b)

2

In [41]:
# 24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

1 << 2

#Corremos en dos espacios el 1 en el sistema binario. Entonces quedaaría 1 0 0 . Es decir 2^2+0+0=4

4

In [42]:
# 25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

#No se puede operar un int con un string

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [44]:
# 26) Realizar una operación válida entre valores de tipo entero y string

v = 2
g = 'a'

print(2*g)

aa